{% extends 'layout.twig' %} {% block body %}
<main class="comment-list">
  <h1 class="comment-list__title">{{ title }}</h1>
  <ul class="comment-list__list">
    {% for comment in comment_list %}
    <li class="comment-list__item">
      <p class="comment-list__body comment-list__body--small">
        {{ 'My name:' }}
      </p>
      <p class="comment-list__body">{{ comment.name }}</p>
      <div class="comment-list__number">
        <p class="comment-list__body">{{ 'I rate you a:' }}</p>
        <div class="comment-list__circle">
          <span>{{ comment.rating }}</span>
        </div>
      </div>
      <p class="comment-list__body comment-list__body--small">
        {{ 'My comment:' }}
      </p>
      <p class="comment-list__body comment-list__body--mb">
        {{ comment.comment }}
      </p>
      <div class="comment-list__number">
        <p class="comment-list__body">{{ 'I have drunk:' }}</p>
        <div class="comment-list__circle comment-list__circle--beers">
          <span>{{ comment.howManyBeers }}</span>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>

{% endblock %}
